.container {
    width: 1200px;
    display: flex;
    padding: 1rem 1rem;
    position: relative;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.title {
    font-size: x-large;
    font-weight: bold;
}

.line{
    border: 1px solid #000000;
    width:30%;
    margin-bottom: 1.5rem;
}